
body { 
    background-color: wheat;
}

#myNav {
    height: 70px;
    background-color: rgb(255, 174, 143) !important;
    font-family: raleway;
    font-size: 30px;
    font-weight: bold;
}

.navbar-brand {
    font-family: raleway;
    font-size: 30px;
    font-weight: bold;
    padding-left: 5px;

}

.navbar-nav {
    margin-left: auto;
    font-family: raleway;
    font-size: 30px;
    font-weight: bold;
}

#landing{
    background-image: url("https://images.unsplash.com/photo-1497044725446-4156b475ea88?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    background-color: rgb(255, 174, 143);
    background-repeat: no-repeat;
    background-position: initial;
    background-size: cover;
    height:900px;
    width:100%;
    text-align: center;
}

#myName{
    font-family: 'stalemate';
    font-size: 220px;
    color: rgba(2, 1, 12, 0.767);
    padding-top: 220px;
    }

    .section-title{
        text-align: center;
        font-family: 'raleway';
        font-style: italic;
        color: rgba(2, 1, 12, 0.767);
        font-weight: bold;
        font-size: 30px;
        padding-top: 40px;
    }

    .about-skills{
        background-color: wheat;
        font-family: raleway;
        font-size:25px;
        font-weight: bold;
        color: /*rgba(2, 1, 12, 0.767)*/ /rgb(3, 19, 36);
        text-align: center; 
    }


    h5{
        font-family: stalemate;
        font-size: 50px;
        font-weight: 700px;
    }

    card-text {
        font-size: 25px;
        font-weight: 300px;
    }

    .card-footer {
        font-size: 25px;
        font-weight: bold;
    }

    .btn {
        width: 200px;
        margin: auto;

    }

    #contactForm{
        width: 750px;
        border:7px solid slategrey;
        padding: 10px;
        margin: 20px auto 100px;
    }

    footer{
        background-color: wheat;
        width: 100%;
        text-align: center;
    }
    


